<div class="search-container">
    <form action="/search-episode" method="GET">
        <input type="text" name="search" placeholder="S01E01" minlength="3" maxlength="6">
        <button type="submit">Search</button>
    </form>
</div>